@tailwind base;
@tailwind components;
@tailwind utilities;

.animate-progress-bar {
  animation: progressBar 1.2s cubic-bezier(0.4,0,0.2,1) infinite;
}
@keyframes progressBar {
  0% { transform: translateX(-100%); }
  100% { transform: translateX(100%); }
}
